#ifdef OPLUS_FEATURE_AGINGTEST
on early-init
    mount debugfs debugfs /sys/kernel/debug

service dramaging /system/bin/dramaging
    disabled
    oneshot
    seclabel u:r:recovery:s0

service bsp_cpu_dvfs /system/bin/sh /system/bin/init.oplus.bsp_cpu_dvfs.sh
    class core
    user shell
    group root system log
    stdio_to_kmsg
    disabled
    oneshot
    seclabel u:r:recovery:s0

service bsp_ddr_vcorefs /system/bin/sh /system/bin/init.oplus.bsp_ddr_vcorefs.sh
    class core
    user shell
    group root system log
    stdio_to_kmsg
    disabled
    oneshot
    seclabel u:r:init:s0

service flashaging /system/bin/flashaging
    disabled
    oneshot
    seclabel u:r:recovery:s0

service sbltest /system/bin/sbltestreport
    disabled
    oneshot
    seclabel u:r:recovery:s0

on property:sys.oplus_ftm_mode=998
    start servicemanager
on property:sys.oplus_ftm_mode=998 && property:init.svc.servicemanager=running
    wait /cache/factory/agingtest_ui.log
    chmod +x /sbin/	
    start dramaging
    start bsp_cpu_dvfs
    start bsp_ddr_vcorefs
    start flashaging
    start sbltest
#endif